# Enable Rewrite Engine
RewriteEngine On

# Force trailing slash for URLs without file extensions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [L,R=301]

# Serve .html files for URLs with trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}/ -f
RewriteRule ^(.*)/$ $1.html [L]

# Custom 404 Error Page
ErrorDocument 404 /404.html
