header {
  min-height: 60px;
  &:before {
    content: "";
    background: rgba($white, 1);
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
    backdrop-filter: saturate(100%) blur(8px);
    box-shadow: 0 0 10px rgba($primary, 0.1);
  }
  &.scrolled:before {
    content: "";
    background: rgba($white, 0.5);
  }
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 0) {
  header.scrolled:before {
    content: "";
    background: rgba($white, 0.9);
  }
}
