.flex-center {
  @extend %flex-center;
}

.content-none {
  @extend %content-none;
}

.text-truncate-2 {
  @extend %text-truncate-2;
}

.border-dashed {
  border-style: dashed;
}

.backdrop-filter {
  backdrop-filter: saturate(180%) blur(20px);
}

.badge-notify {
  top: 4px;
  right: -2px;
  border-radius: 50%;
  font-size: 11px;
  line-height: 20px;
  min-height: 20px;
  min-width: 20px;
  background: #ee4f57;
}
