$display-font-weight: 500;
$display-font-style: normal;
$primary: #0d99ff;
$secondary: #f2f8fc;
$success: #333787;
$tertiary: #353535;
$transparent: transparent;
$quaternary: #f27f52;
$quinary: #f28f66;
$senary: #1a1a1a;
$light: #f1f1f1;
$white: #ffffff;
